@import "reset";

// Colour scheme

$off-white: #ECECE9;
$search-panel-colour: #303127;
$search-box-colour: #404238;
$gem-window-colour: #272822;
$background-colour: #151613;

$equation-colour: #A6E22E;
$equation-colour-dark: #44A61F;

$expression-colour: #66D9EF;
$expression-colour-dark: #1FA6A6;

// Fonts
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");
$font-stack: "Source Sans Pro", "Open Sans", Tahoma, Arial, sans-serif;

// GEM window settings

$width: 850px;
$height: 500px;

$whiteboard-width: 600px;
$whiteboard-height: $height;

// SCSS

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: $background-colour;

	font-family: $font-stack;
	color: $off-white;

	h1, h2, h3, h4, h5, h6 {
		margin: 10px;

		font-family: $font-stack;
		color: $off-white;
		
		text-align:center;
	}

	h1 {
		font-size: 30px;
	}

	#loader {
		display: table; // We'll make the loader invisible once the JavaScript loads.

		width: $width;
		height: $height;

		margin: 0 auto;
		text-align:center;

		color: $off-white;

		background-color: $gem-window-colour;

		p {
			display: table-cell;

			vertical-align: middle;
		}
	}

	#gem-window {
		width: $width;
		height: $height;

		margin: 0 auto;

		background-color: $gem-window-colour;

		display: none; // We'll make the window visible once it loads.

		#whiteboard-panel {
			width: $whiteboard-width;
			height: $height;

			float: left;
		}

		#search-panel {
			width: $width - $whiteboard-width;
			height: $height;

			float: left;

			background-color: $search-panel-colour;

			#search-box {
				@include border-box;

				width: 100%;
				height: 50px;

				border: 0;
				padding: 10px;
				margin: 0;

				font-size:20px;
				color: $off-white;

				background-color: $search-box-colour;
			}

			#search-results {
				ul {
					padding-top: 10px;
					padding-left: 10px;

					color: $off-white;
					font-size:20px;
					font-family: monospace;

					list-style-type: none;
				}
			}
		}
	}

	#footer {
		text-align: center;

		padding-top:20px;

		a:link, a:visited {
			color: $off-white;
		}

		a:hover {
			color: $equation-colour;
		}
	}
}

@mixin formula {
	display: inline-block;

	font-family: monospace;
	font-size: 30px;
	color: $off-white;

	cursor: default;
}

.equation {
	@include formula;

	.variable {
		color: $equation-colour;
	}
}

.expression {
	@include formula;

	.variable {
		color: $expression-colour;
	}
}

.equationVariableHelper {
	color: $equation-colour;
}